.container_successfull{
  width: 100%;
  display: flex;
  /* border: 1px solid red; */

}
.image_home_left{
  width: 100vw;
  height: 100vh;
  background: url("../../../public/assets/Photos/bg1.svg");
  background-size: 100% 100%;
  /* border: 1px solid red; */
}
.image_home_right{
  width: 100vw;
  height: 100vh;
  background: url("../../../public/assets/Photos/bg3.svg");
  background-size: 100% 100%;
  position: relative;

}
.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border:1px solid black; */
}
.text{
  /* display: block; */
  /* position: absolute; */
  /* top: 3%; */
  /* left:21%; */
  /* border:1px solid blue; */

  font-size: 2.4rem;
  font-weight: 600;
  /* text-align: center; */
}
.paragraph{
  /* display: block; */
  /* position:absolute; */
  /* top:16%; */
  margin-top: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  /* border:1px solid violet; */
}
.success_image{
  background: url("../../../public/assets/Photos/illustration.svg");
  width: 70%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  /* position: absolute; */
  /* top:40%; */
  /* left: 18%; */
  /* border: 1px solid red; */

}
@media screen  and (max-width:415px){
  .container_successfull{
    display: flex;
    flex-direction: column;
  }
  .success_image{
    background-size: contain;
  }
  .text{
    margin-top: 2rem;
  }
  .image_home_left{
    background-image: url(../../../public/assets/Photos/bg_m.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .image_home_right{
    position: absolute;
    top: 60%;
    /* height: auto; */
  }
  
}
@media screen and (max-width:733px){
  html{
    font-size: 12px;
  }
  
}